[submodule "submodules/py-pde"]
	path = submodules/py-pde
	url = https://github.com/zwicker-group/py-pde.git
[submodule "submodules/py-droplets"]
	path = submodules/py-droplets
	url = https://github.com/zwicker-group/py-droplets.git
[submodule "submodules/py-modelrunner"]
	path = submodules/py-modelrunner
	url = https://github.com/zwicker-group/py-modelrunner
